############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# Build output
############################
out/
target/
build/
*.class

############################
# Logs
############################
*.log

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Gradle
############################
.gradle/

############################
# Maven
############################
.mvn/
